<div>
    {{input type="text" class="form-control" name="title" value=model.title placeholder="Enter title..."}}
</div>
<div class="divider"></div>
<div>
    {{textarea class="form-control" name="head" value=model.head placeholder="Enter header..."}}
</div>
<div class="divider"></div>
<div>
    {{textarea class="form-control" name="body" value=model.body placeholder="Enter body..."}}
</div>
<div class="divider"></div>