<div class="col-md-8">
    <div class="about">
        <h1>This is the About page</h1>
        <p>Here are the informations from the page</p>
        <p>This website was made to test out embers and other webtech.</p>
    </div>
    {{outlet}}
</div>
<div class="col-md-4">
    {{recent-posts model=model}}
</div>
